/** common css **/
.ele_fl{
	float: left;
}
.ele_fr{
	float: right;
}
.ele_cl{
	clear: both;
}
.ele_shade_pl {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10003;
	display: none;
}
.ele_shade_bg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10004;
	background-color: #F8F8F8;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
.ele_ml2{
	margin-left: 2px;
}
.ele_ml4{
	margin-left: 4px;
}
.ele_ml5{
	margin-left: 5px;
}
.ele_ml10{
	margin-left: 10px;
}
.ele_llh30{
	line-height: 30px;
	vertical-align: middle;
}
.ele_scrollbar::-webkit-scrollbar {
	/*滚动条整体样式*/
	width : 8px;  /*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
	padding: 10px 0px;
}
.ele_scrollbar::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius   : 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #999999;
	background-image: -webkit-linear-gradient(
	  45deg,
	  rgba(255, 255, 255, 0.2) 25%,
	  transparent 25%,
	  transparent 50%,
	  rgba(255, 255, 255, 0.2) 50%,
	  rgba(255, 255, 255, 0.2) 75%,
	  transparent 75%,
	  transparent
	);
}
.ele_scrollbar::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
	background   : #ededed;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}