html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.cl{
	clear: both;
}
.mt16{
	margin-top: 16px;
}
.header{
	width: 100%;
	height: 64px;
	background-color: #303030;
	position: fixed;
	z-index: 100;
}
.header_panel{
	width: 1100px;
	height: 64px;
	color: #FFFFFF;
}
.header_left{
	width: 50%;
	height: 64px;
	color: #FFFFFF;
	line-height: 64px;
	font-size: 32px;
	float: left;
}
.header_right{
	width: 50%;
	height: 64px;
	float: left;
}
.search_view{
	width: 240px;
	height: 32px;
	background-color: #EDEDED;
	margin-top: 16px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.search_input{
	width: 224px;
	height: 32px;
	border: none;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #EDEDED;
	font-size: 12px;
}
.content{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-top: 64px;
}
.content_panel{
	width: 1100px;
	height: auto;
}
.menu_list{
	position: fixed;
	height: 100%;
	width: 241px;
	/* float: left; */
	border: none;
	/* border-left: 1px #E5E5E5 solid; */
	border-right: 1px #E5E5E5 solid;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	padding-top: 16px;
}
.content_view{
	width: 842px;
	height: auto;
	margin-left: 241px;
	padding: 16px 0px 16px 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.menu_title{
	width: 241px;
	height: 32px;
	background-color: #EDEDED;
	border: none;
	border-left: 4px #444444 solid;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 16px;
	color: #444444;
	font-size: 14px;
	line-height: 32px;
}
.menu_item{
	width: 241px;
	height: 32px;
	border: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 20px;
	color: #666666;
	font-size: 14px;
	line-height: 32px;
	cursor: pointer;
}
.menu_item:hover{
	background-color: #F8F8F8;
	color: #999999;
}
.menu_item_selected{
	width: 241px;
	height: 32px;
	border: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 20px;
	color: #009999;
	font-size: 14px;
	line-height: 32px;
	cursor: pointer;
}

.content_row{
	margin-top: 16px;
}
.content_title{
	font-size: 14px;
	color: #009999;
}
.content_code_view{
	width: 100%;
	border: 1px #E5E5E5 solid;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.content_code_title_view{
	width: 100%;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	color: #4C4C4C;
	background-color: #F5F5F5;
	border-bottom: 1px #E5E5E5 solid;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 8px;
}
.content_code_context_view{
	width: 100%;
	color: #4C4C4C;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 8px;
}
.content_code_context_item{
	width: 100%;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.content_code_px1{
	padding-left: 16px;
}
.content_code_px2{
	padding-left: 32px;
}