/** treenode **/
.ele_treenode_title_view{
	width: 100%;
	height: 36px;
	padding-top: 8px;
	box-sizing: border-box;
	background-color: #EEEEEE;
	font-size: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
	position: relative;
}
.ele_treenode_status_view{
	width: 16px;
	height: 16px;
	position: absolute;
	right: 0;
	margin-top: 2px;
}
.ele_treenode_icon{
	width: 16px;
	height: 16px;
	margin-top: 2px;
}
.ele_treenode_item_icon{
	width: 16px;
	height: 16px;
}
.ele_treenode_title_txt{
	width: auto;
	height: 20px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333333;
	vertical-align: top;
	line-height: 20px;
}
.ele_treenode_divider{
	width: 100%;
	height: 1px;
	background-color: #FFFFFF;
}
.ele_treenode_item_view{
	width: 100%;
	height: 30px;
	font-size: 0px;
	padding-top: 7px;
	color: #666666;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
}
.ele_treenode_single{
	background-color: #F5F5F5;
}
.ele_treenode_double{
	background-color: #F1F1F1;
}
.ele_treenode_over{
	background-color: #FFFFFF;
	color: #009999;
}
.ele_treenode_selected{
	background-color: #EBFFFE;
	color: #009999;
	border-right: 4px #009999 solid;
}
.ele_treenode_item_txt{
	width: auto;
	height: 16px;
	font-family: "微软雅黑";
	font-size: 12px;
	vertical-align: top;
	line-height: 16px;
}
.ele_treenode_empty_txt{
	font-size: 12px;
	color: #E1E1E1;
}