.ele_selectbox{
	width: 200px;
	height: 32px;
	padding: 0px;
	margin: 0px;
	border: 1px #DDDDDD solid;
	background-color: #FFFFFF;
	line-height:  32px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0px;
	position: relative;
}
.ele_selectbox_focus{
	width: 200px;
	height: 32px;
	padding: 0px;
	margin: 0px;
	background-color: #E6FFFE;
	border: 1px #009999 solid;
	line-height:  32px;
	box-shadow: 0px 0px 4px #83fffc;
	-webkit-box-shadow: 0px 0px 4px #83fffc;
	-moz-window-shadow: 0px 0px 4px #83fffc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0px;
	position: relative;
}
.ele_selectbox_panle{
	width: 200px;
	height: 32px;
}
.ele_selectbox_disable_focus{
	width: 200px;
	height: 32px;
	padding: 0px;
	margin: 0px;
	background-color: #FFF8FC;
	border: 1px #999999 solid;
	line-height:  32px;
	box-shadow: 0px 0px 4px #CCCCCC;
	-webkit-box-shadow: 0px 0px 4px #CCCCCC;
	-moz-window-shadow: 0px 0px 4px #CCCCCC;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0px;
}
.ele_selectbox_list_view{
	position: absolute;
	z-index: 1;
	width: 200px;
	height: 164px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px;
	margin-top: 33px;
	background-color: #303030;
	border: 1px #555555 solid;
	box-shadow: 0px 0px 6px #999999;
	-webkit-box-shadow: 0px 0px 6px #999999;
	-moz-window-shadow: 0px 0px 6px #999999;
	overflow: hidden;
	overflow-y: auto;
	display: none;
}
.ele_selectbox_list_view_wt{
	position: absolute;
	z-index: 1;
	width: 200px;
	height: 164px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px;
	background-color: #303030;
	border: 1px #555555 solid;
	box-shadow: 0px 0px 6px #999999;
	-webkit-box-shadow: 0px 0px 6px #999999;
	-moz-window-shadow: 0px 0px 6px #999999;
	overflow: hidden;
	overflow-y: auto;
}
.ele_selectbox_filter{
	width: 100%;
	height: auto;
	padding-bottom: 4px;
}
.ele_selectbox_filter_empty{
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	text-align: center;
	color: #4F4F4F;
}
.ele_selectbox_filter_item{
	width: 100%;
	height: 24px;
	cursor: pointer;
}
.ele_selectbox_filter_left{
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 10px;
	color: #C4C4C4;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow : hidden;
	text-overflow: ellipsis;
}
.ele_selectbox_filter_right{
	width: 100%;
	height: 24px;
	line-height: 24px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow : hidden;
	text-overflow: ellipsis;
}
.ele_selectbox_filter_txt_filter{
	font-size: 10px;
	color: #FF61BB;
}
.ele_selectbox_filter_txt_normal{
	font-size: 10px;
	color: #C4C4C4;
}
.ele_selectbox_option{
	width: 100%;
	height: auto;
	padding-top: 4px;
}
.ele_selectbox_option_item{
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #FFFFFF;
	cursor: pointer;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow : hidden;
	text-overflow: ellipsis;
}
.ele_selectbox_option_item_selected{
	background-color: #444444;
	color: #009999;
}
.ele_selectbox_divider{
	width: 100%;
	height: 0px;
	border-bottom: 1px dotted #999999;
}
.ele_selectbox_option_divider{
	width: 100%;
	height: 1px;
	border: none;
	margin: 4px 0px;
	padding: 0;
	background-color: #3F3F3F;
}
.ele_selectbox_select_view{
	width: 42px;
	height: 32px;
	line-height:  32px;
	font-size: 12px;
	padding-left: 5px;
	background-color: #EDEDED;
	color: #4C4C4C;
	border: none;
	border-right: 1px #EAEAEA solid;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
}

.ele_selectbox_input_style{
	width: 114px;
	height: 32px;
	padding: 0px;
	margin: 0px;
	color: #009999;
	text-indent: 5px;
	padding-right: 5px;
	border: none;
	outline: none;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height:  32px;
}
.ele_selectbox_icon_view{
	width: 32px;
	height: 32px;
	background-color: #EDEDED;
	border-left: 1px #EAEAEA solid;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}
.ele_selectbox_icon{
	width: 24px;
	height: 24px;
	margin: 4px 0 0 4px;
}

.ele_selectbox_style_error{
	width: 200px;
	height: 32px;
	padding: 0px;
	margin: 0px;
	background-color: #FFF8FC;
	border: 1px #FF61BB solid;
	line-height:  32px;
	box-shadow: 0px 0px 4px #FFCCE7;
	-webkit-box-shadow: 0px 0px 4px #FFCCE7;
	-moz-window-shadow: 0px 0px 4px #FFCCE7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0px;
}