.ele_file_view{
	width: 100%;
	height: 100%;
	position: relative;
}
.ele_file_group_view{
	width: 272px;
	height: 100%;
	position: absolute;
	z-index: 1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 64px 0px 64px 16px;
}
.ele_file_content_view{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 16px 16px 16px 256px;
}
.ele_file_group{
	width: 240px;
	height: 100%;
	overflow: auto;
	background-color: #303030;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ele_file_content{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #4C4C4C;
}
.ele_file_content_bar{
	width: 100%;
	height: 48px;
	position: absolute;
	z-index: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #303030;
	border-left: 1px #3C3C3C solid;
	border-bottom: 1px #555 solid;
}
.ele_file_content_bar_edge{
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 11px 16px;
}
.ele_file_content_bar_center{
	width: 100%;
	height: 48px;
	line-height: 48px;
	vertical-align: middle;
	color: #EDEDED;
	font-size: 13px;
	text-align: center;
}
.ele_file_content_body{
	width: 100%;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-top: 48px;
}
.ele_file_list_view{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0px 16px 16px 0px;
}
.ele_file_item_view{
	width: 256px;
	height: 256px;
	padding: 16px 0 0 16px;
	float: left;
}
.ele_file_item{
	width: 256px;
	height: 322px;
	background-color: #5c5c5c;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 8px;
	cursor: pointer;
	position: relative;
}
.ele_file_item_img{
	width: 240px;
	height: 240px;
}
.ele_file_item_text{
	width: 240px;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	color: #F5F5F5;
	border-top: 1px #555 solid;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow : hidden;
	text-overflow: ellipsis;
}
.ele_file_item_delete_view{
	width: 22px;
	height: 22px;
	position: absolute;
	z-index: 1;
	background-color: #FF61BB;
	overflow: hidden;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	cursor: pointer;
	right: 8px;
	top: 8px;
}
.ele_file_item_edit_view{
	width: 22px;
	height: 22px;
	position: absolute;
	z-index: 1;
	background-color: #009999;
	overflow: hidden;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	cursor: pointer;
	right: 38px;
	top: 8px;
}
.ele_file_item_icon{
	width: 16px;
	height: 16px;
	margin: 3px;
}
.ele_file_empty{
	width: 100%;
	text-align: center;
	u-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ele_file_empty_image{
	width: 144px;
	height: 144px;
}
.ele_file_title{
	width: 240px;
	height: 48px;
	line-height: 48px;
	color: #F3F3F3;
	background-color: #2B2A2A;
	position: absolute;
	z-index: 2;
	top: 16px;
	left: 16px;
	font-size: 14px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-bottom: 1px #3C3C3C solid;
}
.ele_file_add{
	width: 240px;
	height: 48px;
	line-height: 48px;
	background-color: #2B2A2A;
	position: absolute;
	z-index: 2;
	bottom: 16px;
	left: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-top: 1px #3C3C3C solid;
}

.ele_file_group_item{
	width: 240px;
	height: 32px;
	line-height: 32px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0px 16px;
	font-size: 12px;
	color: #E1E1E1;
	text-align: left;
	cursor: pointer;
	border-bottom: 1px #3C3C3C solid;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow : hidden;
	text-overflow: ellipsis;
}
.ele_file_group_single{
	background-color: #333333;
}
.ele_file_group_double{
	background-color: #303030;
}
.ele_file_group_selected{
	color: #009999;
}
.ele_file_editgroup_style{
	width: 160px;
	height: 26px;
	padding: 0px;
	margin: 0px;
	background-color: #E1E1E1;
	color: #009999;
	border: 1px #DDDDDD solid;
	text-indent: 5px;
	outline: none;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height:  26px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
}
.ele_file_editgroup_style:focus{
	background-color: #E6FFFE;
	border: 1px #009999 solid;
	box-shadow: 0px 0px 4px #83fffc;
	-webkit-box-shadow: 0px 0px 4px #83fffc;
	-moz-window-shadow: 0px 0px 4px #83fffc;
}
.ele_file_editfile_view{
	width: 240px;
	height: 240px;
	padding-left: 120px;
	padding-bottom: 24px;
}
.ele_file_editfile_image{
	width: 240px;
	height: 240px;
}

.ele_file_form{
	width: 100%;
	padding-top: 32px;
}
.ele_file_form_button_panel{
	width: 100%;
	height: 42px;
	padding-top: 16px;
}