.ele_switch_view{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.ele_switch_bar_panel{
	width: 100%;
	height: 32px;
	position: absolute;
	z-index: 3;
	bottom: 0px;
}
.ele_switch_bar{
	width: auto;
	height: 20px;
	padding: 4px 12px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: rgb(76,76,76,0.5);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.ele_switch_bar_item{
	width: 12px;
	height: 12px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #DDDDDD;
	cursor: pointer;
}
.ele_switch_bar_item:hover{
	background-color: #FFFFFF;
}
.ele_switch_bar_item_selected{
	background-color: #FFFFFF;
}

.ele_switch_page_panel{
	width: 100%;
	height: 100%;
}
