/*data box*/
.ele_datebox{
	width: 200px;
	height: 32px;
	padding: 0px;
	margin: 0px;
	border: 1px #DDDDDD solid;
	background-color: #FFFFFF;
	line-height:  32px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0px;
}
.ele_datebox_focus{
	width: 200px;
	height: 32px;
	padding: 0px;
	margin: 0px;
	background-color: #E6FFFE;
	border: 1px #009999 solid;
	line-height:  32px;
	box-shadow: 0px 0px 4px #83fffc;
	-webkit-box-shadow: 0px 0px 4px #83fffc;
	-moz-window-shadow: 0px 0px 4px #83fffc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0px;
}
.ele_datebox_panle{
	width: 200px;
	height: 32px;
}
.ele_datebox_disable_focus{
	width: 200px;
	height: 32px;
	padding: 0px;
	margin: 0px;
	background-color: #FFF8FC;
	border: 1px #999999 solid;
	line-height:  32px;
	box-shadow: 0px 0px 4px #CCCCCC;
	-webkit-box-shadow: 0px 0px 4px #CCCCCC;
	-moz-window-shadow: 0px 0px 4px #CCCCCC;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0px;
}
.ele_datebox_style_error{
	width: 200px;
	height: 32px;
	padding: 0px;
	margin: 0px;
	background-color: #FFF8FC;
	border: 1px #FF61BB solid;
	line-height:  32px;
	box-shadow: 0px 0px 4px #FFCCE7;
	-webkit-box-shadow: 0px 0px 4px #FFCCE7;
	-moz-window-shadow: 0px 0px 4px #FFCCE7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0px;
}
.ele_datebox_intut_style{
	width: 162px;
	height: 32px;
	padding: 0px;
	margin: 0px;
	color: #009999;
	text-indent: 5px;
	padding-right: 5px;
	border: none;
	outline: none;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height:  32px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomright: 4px;
}
.ele_datebox_icon_view{
	width: 32px;
	height: 32px;
	background-color: #EDEDED;
	border-left: 1px #EAEAEA solid;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}
.ele_datebox_icon{
	width: 24px;
	height: 24px;
	margin: 4px 0 0 4px;
}

/*data view*/
.ele_dateview_divider{
	width: 100%;
	height: 1px;
	background-color: #222222;
}
.ele_dateview_panel{
	width: 318px;
	height: 338px;
	position: absolute;
	z-index: 1;
	display: none;
	-webkit-user-select: none;  /* Chrome all / Safari all /opera15+*/  
	-moz-user-select: none;     /* Firefox all */  
	-ms-user-select: none;      /* IE 10+ */
	background-color: #303030;
	border: 1px #555555 solid;
	box-shadow: 0px 0px 6px #999999;
	-webkit-box-shadow: 0px 0px 6px #999999;
	-moz-window-shadow: 0px 0px 6px #999999;
}

.ele_dateview_title_view{
	width: 318px;
	height: 36px;
	background-color: #262626;
	border: none;
	border-bottom: 1px #222222 solid;
}
.ele_dateview_title_left_view{
	width: 100%;
	height: 36px;
}
.ele_dateview_title_center_view{
	width: 100%;
	height: 36px;
}
.ele_dateview_title_right_view{
	width: 100%;
	height: 36px;
}
.ele_dateview_title_icon{
	width: 24px;
	height: 24px;
	margin-top: 6px;
	cursor: pointer;
}
.ele_dateview_date_txt{
	width: 100%;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
	color: #EDEDED;
	height: 36px;
	line-height: 36px;
}
.ele_dateview_week_view{
	width: 318px;
	height: 32px;
	padding-left: 8px;
}
.ele_dateview_week_item{
	width: 34px;
	height: 32px;
	line-height: 32px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #CCCCCC;
	float: left;
	margin-left: 8px;
}
.ele_dateview_line_view{
	width: 318px;
	height: 34px;
	padding-left: 8px;
	padding-top: 8px;
}
.ele_dateview_line_item{
	width: 32px;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
	border: 1px #303030 solid;
	color: #EDEDED;
}
.ele_dateview_line_item_full{
	border: 1px #303030 solid;
}
.ele_dateview_line_item_full:hover{
	border: 1px #C4C4C4 solid;
}

.ele_dateview_line_item_today{
	background-color: #3B9EFF;
	border: 1px #3B9EFF solid;
	color: #F5F5F5;
}

.ele_dateview_line_item_week{
	color: #E34242;
}
.ele_dateview_line_item_week:hover{
	border: 1px #E34242 solid;
}

.ele_dateview_line_item_select{
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 2px #3B9EFF solid;
	color: #3B9EFF;
}