
/** iconlabel **/
.ele_icon_label{
	display: inline-flex;
	padding: 5px 9px 5px 9px;
	font-size: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
}
.ele_icon_label_focus{
	display: inline-flex;
	padding: 4px 8px 4px 8px;
	background-color: #009999;
	border: 1px #038985 solid;
	font-size: 0px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
}
.ele_icon_label_icon{
	width: 16px;
	height: 16px;
}
.ele_icon_label_txt{
	line-height: 16px;
	vertical-align: top;
}

/** menulabel **/
.ele_menu_label{
	position: relative;
	width: auto;
	height: 64px;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	color: #F7F7F7;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}
.ele_menu_label:hover{
	color: #009999;
}
.ele_menu_label_panel{
	width: auto;
	height: 64px;
	line-height: 64px;
	padding: 0px 20px;
}
.ele_menu_label_icon{
	width: 24px;
	height: 24px;
	margin-top: 20px;
}
.ele_menu_label_children{
	width: 120px;
	position: absolute;
	z-index: 1;
	height: auto;
	padding-top: 4px;
	cursor: pointer;
	background-color: #303030;
	border: 1px #555555 solid;
	box-shadow: 0px 0px 4px #999999;
	-webkit-box-shadow: 0px 0px 4px #999999;
	-moz-window-shadow: 0px 0px 4px #999999;
	display: none;
	margin-top: 64px;
	margin-left: 20px;
}
.ele_menu_label_children_wt{
	width: 120px;
	position: absolute;
	z-index: 1;
	height: auto;
	padding-top: 4px;
	cursor: pointer;
	background-color: #303030;
	border: 1px #555555 solid;
	box-shadow: 0px 0px 4px #999999;
	-webkit-box-shadow: 0px 0px 4px #999999;
	-moz-window-shadow: 0px 0px 4px #999999;
	margin-left: 20px;
}
.ele_menu_label_children_item{
	width: 120px;
	height: 32px;
	line-height: 32px;
	color: #F7F7F7;
	font-size: 12px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow : hidden;
	text-overflow: ellipsis;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}
.ele_menu_label_children_item:hover{
	color: #009999;
}
.ele_menu_label_children_divider{
	width: 80px;
	height: 1px;
	background-color: #444444;
}
.ele_menu_label_children_icon{
	width: 16px;
	height: 16px;
	margin: 24px 0 0 4px;
}
