.welcom_title{
	width: auto;
	height: 64px;
	line-height: 64px;
	vertical-align: middle;
	color: #FFFFFF;
	font-size: 18px;
	padding-left: 16px;
}
.welcom_location{
	width: auto;
	height: 64px;
	line-height: 64px;
	vertical-align: middle;
	color: #FFFFFF;
	font-size: 12px;
	padding-right: 16px;
}
