.switch_page_1{
	width: 100%;
	height: 100%;
	background-color: #93C5F5;
}
.switch_page_2{
	width: 100%;
	height: 100%;
	background-color: #FFA3A4;
}
.switch_page_3{
	width: 100%;
	height: 100%;
	background-color: #FFC63E;
}
