.ele_label {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #fff
}

.ele_fl {
	float: left
}

.ele_fr {
	float: right
}

.ele_cl {
	clear: both
}

.ele_nocrspace {
	margin: 0;
	padding: 0;
	font-size: 0
}

.ele_shade_pl {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10003;
	display: none
}

.ele_shade_bg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10004;
	background-color: #f8f8f8;
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	opacity: .5
}

.ele_ml2 {
	margin-left: 2px
}

.ele_ml4 {
	margin-left: 4px
}

.ele_ml5 {
	margin-left: 5px
}

.ele_ml10 {
	margin-left: 10px
}

.ele_llh30 {
	line-height: 30px;
	vertical-align: middle
}

.ele_scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	padding: 10px 0
}

.ele_scrollbar::-webkit-scrollbar-thumb {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #999;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent)
}

.ele_scrollbar::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #ededed;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px
}

.ele_ajaxload_content {
	width: 180px;
	height: 36px;
	position: absolute;
	z-index: 10005;
	background-color: #666;
	box-shadow: 0 0 8px #999;
	-webkit-box-shadow: 0 0 8px #999;
	-moz-window-shadow: 0 0 8px #999;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px #555 solid;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none
}

.ele_ajaxload_content_img {
	width: 16px;
	height: 16px;
	margin-top: 10px;
	margin-left: 10px;
	float: left
}

.ele_ajaxload_content_msg {
	font-family: '微软雅黑';
	font-size: 12px;
	color: #fff;
	height: 36px;
	line-height: 36px;
	vertical-align: middle
}

.ele_confirm_panel {
	width: 300px;
	height: 110px;
	position: absolute;
	z-index: 10005;
	background-color: #666;
	box-shadow: 0 0 8px #999;
	-webkit-box-shadow: 0 0 8px #999;
	-moz-window-shadow: 0 0 8px #999;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	top: 0;
	left: 0;
	border: 1px #555 solid;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none
}

.ele_confirm_margin_top_20 {
	width: 100%;
	height: 1px;
	border: 0;
	background-color: #c4c4c4;
	margin-top: 20px
}

.ele_confirm_divider {
	width: 100%;
	height: 1px;
	border: 0;
	background-color: #999
}

.ele_confirm_divider_v {
	width: 1px;
	height: 100%;
	border: 0;
	background-color: #999;
	float: left
}

.ele_confirm_view {
	width: 100%;
	height: 30px;
	margin-top: 20px
}

.ele_confirm_btn_view {
	width: 100%;
	height: 39px
}

.ele_confirm_txt {
	font-family: '微软雅黑';
	font-size: 12px;
	color: #fff;
	height: 30px;
	line-height: 30px;
	vertical-align: middle
}

.ele_confirm_btn_sure {
	width: 150px;
	height: 39px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	background-color: #555;
	color: #fff;
	float: left;
	cursor: pointer
}

.ele_confirm_btn_sure_over {
	width: 150px;
	height: 39px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	background-color: #099;
	color: #fff;
	float: left;
	cursor: pointer
}

.ele_confirm_btn_cancel {
	width: 149px;
	height: 39px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	background-color: #555;
	color: #fff;
	float: left;
	cursor: pointer
}

.ele_confirm_btn_cancel_over {
	width: 149px;
	height: 39px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	background-color: #c4c4c4;
	color: #fff;
	float: left;
	cursor: pointer
}

.ele_confirm_btn_txt {
	font-family: '微软雅黑';
	font-size: 14px;
	height: 39px;
	letter-spacing: 4px;
	line-height: 39px;
	vertical-align: middle
}

.ele_alert_btn_sure {
	width: 300px;
	height: 39px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	color: #fff;
	background-color: #555;
	float: left;
	cursor: pointer
}

.ele_alert_btn_sure_over {
	width: 300px;
	height: 39px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	background-color: #099;
	color: #fff;
	float: left;
	cursor: pointer
}

.ele_button {
	display: inline-flex;
	padding: 4px 8px 4px 8px;
	background-color: #666;
	border: 1px #333 solid;
	font-size: 0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer
}

.ele_button_focus {
	display: inline-flex;
	padding: 4px 8px 4px 8px;
	background-color: #099;
	border: 1px #038985 solid;
	font-size: 0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer
}

.ele_button_icon {
	width: 16px;
	height: 16px
}

.ele_button_txt {
	line-height: 16px;
	vertical-align: top
}

.ele_big_button {
	width: 120px;
	height: 30px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	vertical-align: middle;
	cursor: pointer;
	font-family: "微软雅黑";
	letter-spacing: 2px
}

.ele_big_button_blue {
	font-size: 14px;
	background-color: #5ca7ed;
	text-shadow: 0 -1px 1px #00488c;
	box-shadow: 0 2px 2px #00488c;
	-webkit-box-shadow: 0 2px 2px #00488c;
	-moz-window-shadow: 0 2px 2px #00488c;
	border-top: 1px #93c5f5 solid;
	border-bottom: 1px #0077e8 solid
}

.ele_big_button_blue_down {
	background-color: #4f9de7;
	text-shadow: 0 -1px 1px #00488c;
	border-top: 1px #93c5f5 solid;
	border-bottom: 1px #0077e8 solid;
	font-size: 13px
}

.ele_big_button_green {
	font-size: 14px;
	background-color: #aace2c;
	text-shadow: 0 -1px 1px #638000;
	box-shadow: 0 2px 2px #638000;
	-webkit-box-shadow: 0 2px 2px #638000;
	-moz-window-shadow: 0 2px 2px #638000;
	border-top: 1px #d6f274 solid;
	border-bottom: 1px #638000 solid
}

.ele_big_button_green_down {
	background-color: #97c200;
	text-shadow: 0 -1px 1px #638000;
	border-top: 1px #d6f274 solid;
	border-bottom: 1px #638000 solid;
	font-size: 13px
}

.ele_big_button_pink {
	font-size: 14px;
	background-color: #ed5cb2;
	text-shadow: 0 -1px 1px #a60062;
	box-shadow: 0 2px 2px #a60062;
	-webkit-box-shadow: 0 2px 2px #a60062;
	-moz-window-shadow: 0 2px 2px #a60062;
	border-top: 1px #fca4d8 solid;
	border-bottom: 1px #a60062 solid
}

.ele_big_button_pink_down {
	background-color: #de439e;
	text-shadow: 0 -1px 1px #a60062;
	border-top: 1px #fca4d8 solid;
	border-bottom: 1px #a60062 solid;
	font-size: 13px
}

.ele_big_button_orange {
	font-size: 14px;
	background-color: #ff8230;
	text-shadow: 0 -1px 1px #ba4a00;
	box-shadow: 0 2px 2px #ba4a00;
	-webkit-box-shadow: 0 2px 2px #ba4a00;
	-moz-window-shadow: 0 2px 2px #ba4a00;
	border-top: 1px #ffb88a solid;
	border-bottom: 1px #ba4a00 solid
}

.ele_big_button_orange_down {
	background-color: #f26a11;
	text-shadow: 0 -1px 1px #ba4a00;
	border-top: 1px #ffb88a solid;
	border-bottom: 1px #ba4a00 solid;
	font-size: 13px
}

.ele_big_button_red {
	font-size: 14px;
	background-color: #ef595b;
	text-shadow: 0 -1px 1px #a80002;
	box-shadow: 0 2px 2px #a80002;
	-webkit-box-shadow: 0 2px 2px #a80002;
	-moz-window-shadow: 0 2px 2px #a80002;
	border-top: 1px #ffa3a4 solid;
	border-bottom: 1px #a80002 solid
}

.ele_big_button_red_down {
	background-color: #e84345;
	text-shadow: 0 -1px 1px #a80002;
	border-top: 1px #ffa3a4 solid;
	border-bottom: 1px #a80002 solid;
	font-size: 13px
}

.ele_big_button_yellow {
	font-size: 14px;
	background-color: #ffc63e;
	text-shadow: 0 -1px 1px #b07c00;
	box-shadow: 0 2px 2px #b07c00;
	-webkit-box-shadow: 0 2px 2px #b07c00;
	-moz-window-shadow: 0 2px 2px #b07c00;
	border-top: 1px #ffe29c solid;
	border-bottom: 1px #b07c00 solid
}

.ele_big_button_yellow_down {
	background-color: #fab511;
	text-shadow: 0 -1px 1px #b07c00;
	border-top: 1px #ffe29c solid;
	border-bottom: 1px #b07c00 solid;
	font-size: 13px
}

.ele_check_style {
	vertical-align: middle
}

.ele_check_img {
	width: 16px;
	height: 16px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	vertical-align: top;
	cursor: pointer
}

.ele_datebox {
	width: 200px;
	height: 32px;
	padding: 0;
	margin: 0;
	border: 1px #ddd solid;
	background-color: #fff;
	line-height: 32px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0
}

.ele_datebox_focus {
	width: 200px;
	height: 32px;
	padding: 0;
	margin: 0;
	background-color: #e6fffe;
	border: 1px #099 solid;
	line-height: 32px;
	box-shadow: 0 0 4px #83fffc;
	-webkit-box-shadow: 0 0 4px #83fffc;
	-moz-window-shadow: 0 0 4px #83fffc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0
}

.ele_datebox_panle {
	width: 200px;
	height: 32px
}

.ele_datebox_disable_focus {
	width: 200px;
	height: 32px;
	padding: 0;
	margin: 0;
	background-color: #fff8fc;
	border: 1px #999 solid;
	line-height: 32px;
	box-shadow: 0 0 4px #ccc;
	-webkit-box-shadow: 0 0 4px #ccc;
	-moz-window-shadow: 0 0 4px #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0
}

.ele_datebox_style_error {
	width: 200px;
	height: 32px;
	padding: 0;
	margin: 0;
	background-color: #fff8fc;
	border: 1px #ff61bb solid;
	line-height: 32px;
	box-shadow: 0 0 4px #ffcce7;
	-webkit-box-shadow: 0 0 4px #ffcce7;
	-moz-window-shadow: 0 0 4px #ffcce7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0
}

.ele_datebox_intut_style {
	width: 162px;
	height: 32px;
	padding: 0;
	margin: 0;
	color: #099;
	text-indent: 5px;
	padding-right: 5px;
	border: 0;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 32px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomright: 4px
}

.ele_datebox_icon_view {
	width: 32px;
	height: 32px;
	background-color: #ededed;
	border-left: 1px #eaeaea solid;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px
}

.ele_datebox_icon {
	width: 24px;
	height: 24px;
	margin: 4px 0 0 4px
}

.ele_dateview_divider {
	width: 100%;
	height: 1px;
	background-color: #222
}

.ele_dateview_panel {
	width: 318px;
	height: 338px;
	position: absolute;
	z-index: 1;
	display: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	background-color: #303030;
	border: 1px #555 solid;
	box-shadow: 0 0 6px #999;
	-webkit-box-shadow: 0 0 6px #999;
	-moz-window-shadow: 0 0 6px #999
}

.ele_dateview_title_view {
	width: 318px;
	height: 36px;
	background-color: #262626;
	border: 0;
	border-bottom: 1px #222 solid
}

.ele_dateview_title_left_view {
	width: 100%;
	height: 36px
}

.ele_dateview_title_center_view {
	width: 100%;
	height: 36px
}

.ele_dateview_title_right_view {
	width: 100%;
	height: 36px
}

.ele_dateview_title_icon {
	width: 24px;
	height: 24px;
	margin-top: 6px;
	cursor: pointer
}

.ele_dateview_date_txt {
	width: 100%;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
	color: #ededed;
	height: 36px;
	line-height: 36px
}

.ele_dateview_week_view {
	width: 318px;
	height: 32px;
	padding-left: 8px
}

.ele_dateview_week_item {
	width: 34px;
	height: 32px;
	line-height: 32px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ccc;
	float: left;
	margin-left: 8px
}

.ele_dateview_line_view {
	width: 318px;
	height: 34px;
	padding-left: 8px;
	padding-top: 8px
}

.ele_dateview_line_item {
	width: 32px;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
	border: 1px #303030 solid;
	color: #ededed;
	cursor: pointer
}

.ele_dateview_line_item_full {
	border: 1px #303030 solid
}

.ele_dateview_line_item_full:hover {
	border: 1px #c4c4c4 solid
}

.ele_dateview_line_item_today {
	background-color: #3b9eff;
	border: 1px #3b9eff solid;
	color: #f5f5f5
}

.ele_dateview_line_item_week {
	color: #e34242
}

.ele_dateview_line_item_week:hover {
	border: 1px #e34242 solid
}

.ele_dateview_line_item_select {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 2px #3b9eff solid;
	color: #3b9eff
}

.ele_icon_label {
	display: inline-flex;
	height: 24px;
	line-height: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	border: 1px transparent solid;
	cursor: pointer;
	background-position: 4px 3px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	padding: 0 8px 0 24px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.ele_icon_label_none {
	font-size: 12px;
	color: #fff
}

.ele_icon_label_def {
	font-size: 12px;
	color: #f5f5f5
}

.ele_icon_label_def:hover {
	background-color: #099;
	border: 1px #038985 solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff
}

.ele_icon_label_red {
	font-size: 12px;
	color: #e84345
}

.ele_icon_label_red:hover {
	background-color: #e84345;
	border: 1px #dd2c35 solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff
}

.ele_icon_label_blue {
	font-size: 12px;
	color: #0077e8
}

.ele_icon_label_blue:hover {
	background-color: #0077e8;
	border: 1px #056fc6 solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff
}

.ele_icon_label_orange {
	font-size: 12px;
	color: #f26a11
}

.ele_icon_label_orange:hover {
	background-color: #f26a11;
	border: 1px #db5d16 solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff
}

.ele_icon_label_yellow {
	font-size: 12px;
	color: #ffc63e
}

.ele_icon_label_yellow:hover {
	background-color: #ffc63e;
	border: 1px #fcb21d solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff
}

.ele_icon_label_green {
	font-size: 12px;
	color: #97c200
}

.ele_icon_label_green:hover {
	background-color: #97c200;
	border: 1px #8eaf04 solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff
}

.ele_menu_label {
	position: relative;
	width: auto;
	height: 64px;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	color: #f7f7f7;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease
}

.ele_menu_label:hover {
	color: #099
}

.ele_menu_label_panel {
	width: auto;
	height: 64px;
	line-height: 64px;
	padding: 0 20px
}

.ele_menu_label_icon {
	width: 20px;
	height: 20px;
	margin-top: 22px
}

.ele_menu_label_children {
	width: 120px;
	position: absolute;
	z-index: 1;
	height: auto;
	padding-top: 4px;
	cursor: pointer;
	background-color: #303030;
	border: 1px #555 solid;
	box-shadow: 0 0 4px #999;
	-webkit-box-shadow: 0 0 4px #999;
	-moz-window-shadow: 0 0 4px #999;
	display: none;
	margin-top: 64px;
	margin-left: 20px
}

.ele_menu_label_children_wt {
	width: 120px;
	position: absolute;
	z-index: 1;
	height: auto;
	padding-top: 4px;
	cursor: pointer;
	background-color: #303030;
	border: 1px #555 solid;
	box-shadow: 0 0 4px #999;
	-webkit-box-shadow: 0 0 4px #999;
	-moz-window-shadow: 0 0 4px #999;
	margin-left: 20px
}

.ele_menu_label_children_item {
	width: 120px;
	height: 32px;
	line-height: 32px;
	color: #f7f7f7;
	font-size: 12px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease
}

.ele_menu_label_children_item:hover {
	color: #099
}

.ele_menu_label_children_divider {
	width: 80px;
	height: 1px;
	background-color: #444
}

.ele_menu_label_children_icon {
	width: 16px;
	height: 16px;
	margin: 24px 0 0 4px
}

.ele_layout {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0
}

.ele_bs_border {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.ele_listgrid_view {
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative
}

.ele_listgrid_list_panel {
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 40px
}

.ele_listgrid_list_view {
	width: 100%;
	height: 100%;
	overflow-y: scroll
}

.ele_listgrid_list_view_no_scoll {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-right: 8px
}

.ele_listgrid_title_view {
	width: 100%;
	height: 40px;
	position: absolute;
	z-index: 1
}

.ele_listgrid_title_cb {
	position: absolute;
	z-index: 2;
	background-color: #303030;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #fff;
	border-bottom: 1px #494949 solid;
	border-right: 1px #494949 solid;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.ele_listgrid_title_bar {
	position: absolute;
	z-index: 2;
	right: 0
}

.ele_listgrid_title_item_view {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.ele_listgrid_title {
	background-color: #303030;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #fff;
	border-bottom: 1px #494949 solid
}

.ele_listgrid_cb_title {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #fff;
	margin-left: 6px
}

.ele_listgrid_cb {
	position: absolute;
	z-index: 1;
	border-bottom: 1px #494949 solid;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.ele_listgrid_line_view {
	width: 100%;
	position: relative;
	color: #e1e1e1
}

.ele_listgrid_line_bar {
	position: absolute;
	z-index: 1;
	right: 0
}

.ele_listgrid_bsbb {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.ele_listgrid_br {
	border-right: 1px #494949 solid;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.ele_listgrid_bg_single {
	background-color: #444
}

.ele_listgrid_bg_double {
	background-color: #3f3f3f
}

.ele_listgrid_bg_selected {
	background-color: #393939;
	color: #099
}

.ele_listgrid_item {
	width: auto;
	height: 100%;
	font-family: "微软雅黑";
	font-size: 12px;
	border-bottom: 1px #494949 solid;
	border-right: 1px #494949 solid;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis
}

.ele_listgrid_empty_txt {
	color: #888
}

.ele_listgrid_h_divider {
	width: 100%;
	height: 1px;
	background-color: #494949
}

.ele_listgrid_icon {
	width: 20px;
	height: 20px;
	margin-top: 5px;
	cursor: pointer
}

.ele_audio {
	background-color: #f5f5f5
}

.ele_video {
	background-color: #f5f5f5
}

.ele_popwindow_bg_view {
	width: 100%;
	height: 100%;
	background-color: #c4c4c4;
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	opacity: .5;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none
}

.ele_popwindow_view {
	width: auto;
	height: auto;
	position: absolute;
	z-index: 1001;
	background-color: #303030;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: none
}

.ele_popwindow_title_view {
	width: auto;
	margin-left: 4px;
	height: 28px
}

.ele_popwindow_title_name_view {
	width: auto;
	height: 24px;
	padding-left: 10px;
	float: left
}

.ele_popwindow_title_close_view {
	width: 18px;
	height: 18px;
	margin-top: 4px;
	float: left
}

.ele_popwindow_title_icon_close {
	width: 18px;
	height: 18px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none
}

.ele_popwindow_txt_title {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #f5f5f5;
	height: 20px;
	line-height: 20px;
	vertical-align: middle
}

.ele_popwindow_content_view {
	width: auto;
	height: auto;
	margin-left: 4px;
	background-color: #666
}

.ele_radio {
	width: auto;
	line-height: 24px;
	font-size: 12px;
	color: #f5f5f5;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	vertical-align: top;
	padding-left: 20px;
	background-position: 0 4px;
	background-size: 16px 16px;
	background-repeat: no-repeat
}

.ele_searchbox_view {
	width: 260px;
	height: 26px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	border: 1px #c4c4c4 solid;
	font-size: 0;
	line-height: 26px;
	border-radius: 13px;
	-moz-border-radius: 16px;
	-moz-border-radius: 16px
}

.ele_searchbox_style {
	width: 200px;
	height: 26px;
	padding: 0 10px;
	margin: 0;
	border: 0;
	color: #099;
	text-indent: 5px;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	border-radius: 13px;
	-moz-border-radius: 13px;
	-moz-border-radius: 13px;
	vertical-align: top
}

.ele_searchbox_icon {
	width: 20px;
	height: 20px;
	margin: 3px 0 0 10px;
	cursor: pointer
}

.ele_selectbox {
	width: 200px;
	height: 32px;
	padding: 0;
	margin: 0;
	border: 1px #ddd solid;
	background-color: #fff;
	line-height: 32px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0;
	position: relative
}

.ele_selectbox_focus {
	width: 200px;
	height: 32px;
	padding: 0;
	margin: 0;
	background-color: #e6fffe;
	border: 1px #099 solid;
	line-height: 32px;
	box-shadow: 0 0 4px #83fffc;
	-webkit-box-shadow: 0 0 4px #83fffc;
	-moz-window-shadow: 0 0 4px #83fffc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0;
	position: relative
}

.ele_selectbox_panle {
	width: 200px;
	height: 32px
}

.ele_selectbox_disable_focus {
	width: 200px;
	height: 32px;
	padding: 0;
	margin: 0;
	background-color: #fff8fc;
	border: 1px #999 solid;
	line-height: 32px;
	box-shadow: 0 0 4px #ccc;
	-webkit-box-shadow: 0 0 4px #ccc;
	-moz-window-shadow: 0 0 4px #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0
}

.ele_selectbox_list_view {
	position: absolute;
	z-index: 1;
	width: 200px;
	height: 164px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px;
	margin-top: 33px;
	background-color: #303030;
	border: 1px #555 solid;
	box-shadow: 0 0 6px #999;
	-webkit-box-shadow: 0 0 6px #999;
	-moz-window-shadow: 0 0 6px #999;
	overflow: hidden;
	overflow-y: auto;
	display: none
}

.ele_selectbox_list_view_wt {
	position: absolute;
	z-index: 1;
	width: 200px;
	height: 164px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px;
	background-color: #303030;
	border: 1px #555 solid;
	box-shadow: 0 0 6px #999;
	-webkit-box-shadow: 0 0 6px #999;
	-moz-window-shadow: 0 0 6px #999;
	overflow: hidden;
	overflow-y: auto
}

.ele_selectbox_filter {
	width: 100%;
	height: auto;
	padding-bottom: 4px
}

.ele_selectbox_filter_empty {
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	text-align: center;
	color: #4f4f4f
}

.ele_selectbox_filter_item {
	width: 100%;
	height: 24px;
	cursor: pointer
}

.ele_selectbox_filter_left {
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 10px;
	color: #c4c4c4;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis
}

.ele_selectbox_filter_right {
	width: 100%;
	height: 24px;
	line-height: 24px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis
}

.ele_selectbox_filter_txt_filter {
	font-size: 10px;
	color: #ff61bb
}

.ele_selectbox_filter_txt_normal {
	font-size: 10px;
	color: #c4c4c4
}

.ele_selectbox_option {
	width: 100%;
	height: auto;
	padding-top: 4px
}

.ele_selectbox_option_item {
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #fff;
	cursor: pointer;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis
}

.ele_selectbox_option_item_selected {
	background-color: #444;
	color: #099
}

.ele_selectbox_divider {
	width: 100%;
	height: 0;
	border-bottom: 1px dotted #999
}

.ele_selectbox_option_divider {
	width: 100%;
	height: 1px;
	border: 0;
	margin: 4px 0;
	padding: 0;
	background-color: #3f3f3f
}

.ele_selectbox_select_view {
	width: 42px;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	padding-left: 5px;
	background-color: #ededed;
	color: #4c4c4c;
	border: 0;
	border-right: 1px #eaeaea solid;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px
}

.ele_selectbox_input_style {
	width: 114px;
	height: 32px;
	padding: 0;
	margin: 0;
	color: #099;
	text-indent: 5px;
	padding-right: 5px;
	border: 0;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 32px
}

.ele_selectbox_icon_view {
	width: 32px;
	height: 32px;
	background-color: #ededed;
	border-left: 1px #eaeaea solid;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px
}

.ele_selectbox_icon {
	width: 24px;
	height: 24px;
	margin: 4px 0 0 4px
}

.ele_selectbox_style_error {
	width: 200px;
	height: 32px;
	padding: 0;
	margin: 0;
	background-color: #fff8fc;
	border: 1px #ff61bb solid;
	line-height: 32px;
	box-shadow: 0 0 4px #ffcce7;
	-webkit-box-shadow: 0 0 4px #ffcce7;
	-moz-window-shadow: 0 0 4px #ffcce7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	font-size: 0
}

.ele_textarea_style {
	width: 192px;
	height: 42px;
	padding: 2px 4px;
	margin: 0;
	background-color: #fff;
	color: #099;
	border: 1px #ddd solid;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px
}

.ele_textarea_style:focus {
	background-color: #e6fffe;
	border: 1px #099 solid;
	box-shadow: 0 0 3px #83fffc;
	-webkit-box-shadow: 0 0 3px #83fffc;
	-moz-window-shadow: 0 0 3px #83fffc
}

.ele_textarea_style_error {
	width: 192px;
	height: 42px;
	padding: 2px 4px;
	margin: 0;
	background-color: #fff;
	outline: 0;
	border: 1px #099 solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #fff8fc;
	border: 1px #ff61bb solid;
	box-shadow: 0 0 4px #ffcce7;
	-webkit-box-shadow: 0 0 4px #ffcce7;
	-moz-window-shadow: 0 0 4px #ffcce7
}

.ele_textarea_style_disable {
	width: 192px;
	height: 42px;
	padding: 2px 4px;
	margin: 0;
	background-color: #fff;
	color: #099;
	border: 1px #ddd solid;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px
}

.ele_textarea_style_disable:focus {
	background-color: #f5f5f5;
	border: 1px #999 solid;
	box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	-moz-window-shadow: 0 0 3px #ccc
}

.ele_edittext_style {
	width: 200px;
	height: 32px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	color: #099;
	border: 1px #ddd solid;
	text-indent: 5px;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 32px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px
}

.ele_edittext_style:focus {
	background-color: #e6fffe;
	border: 1px #099 solid;
	box-shadow: 0 0 4px #83fffc;
	-webkit-box-shadow: 0 0 4px #83fffc;
	-moz-window-shadow: 0 0 4px #83fffc
}

.ele_edittext_style_error {
	width: 200px;
	height: 32px;
	padding: 0;
	margin: 0;
	color: #099;
	text-indent: 5px;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 32px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #fff8fc;
	border: 1px #ff61bb solid;
	box-shadow: 0 0 4px #ffcce7;
	-webkit-box-shadow: 0 0 4px #ffcce7;
	-moz-window-shadow: 0 0 4px #ffcce7
}

.ele_edittext_style_disable {
	width: 200px;
	height: 32px;
	padding: 0;
	margin: 0;
	color: #099;
	text-indent: 5px;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 32px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #fff8fc;
	border: 1px #999 solid;
	box-shadow: 0 0 4px #ccc;
	-webkit-box-shadow: 0 0 4px #ccc;
	-moz-window-shadow: 0 0 4px #ccc
}

.ele_edittext_style_disable {
	width: 200px;
	height: 32px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	color: #099;
	border: 1px #ddd solid;
	text-indent: 5px;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 32px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px
}

.ele_edittext_style_disable:focus {
	background-color: #f5f5f5;
	border: 1px #999 solid;
	box-shadow: 0 0 4px #ccc;
	-webkit-box-shadow: 0 0 4px #ccc;
	-moz-window-shadow: 0 0 4px #ccc
}

.ele_treenode_title_view {
	width: 100%;
	height: 36px;
	padding-top: 8px;
	box-sizing: border-box;
	background-color: #303030;
	font-size: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
	position: relative
}

.ele_treenode_status_view {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 0;
	margin-top: 2px
}

.ele_treenode_icon {
	width: 20px;
	height: 20px
}

.ele_treenode_item_icon {
	width: 16px;
	height: 16px
}

.ele_treenode_title_txt {
	width: auto;
	height: 20px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #f7f7f7;
	vertical-align: top;
	line-height: 20px
}

.ele_treenode_divider {
	width: 100%;
	height: 1px;
	background-color: #494949
}

.ele_treenode_item_view {
	width: 100%;
	height: 30px;
	font-size: 0;
	padding-top: 7px;
	color: #e1e1e1;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer
}

.ele_treenode_single {
	background-color: #444
}

.ele_treenode_double {
	background-color: #3f3f3f
}

.ele_treenode_over {
	background-color: #393939;
	color: #099
}

.ele_treenode_selected {
	background-color: #393939;
	color: #099;
	border-right: 4px #099 solid
}

.ele_treenode_item_txt {
	width: auto;
	height: 16px;
	font-family: "微软雅黑";
	font-size: 12px;
	vertical-align: top;
	line-height: 16px
}

.ele_treenode_empty_txt {
	font-size: 12px;
	color: #e1e1e1
}

.ele_board {
	width: 100%;
	height: auto;
	padding-right: 16px;
	padding-top: 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.ele_board_full {
	width: 100%;
	height: 100%;
	padding: 16px 16px 16px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.ele_board_view {
	width: 100%;
	height: auto;
	margin-bottom: 16px
}

.ele_full_board_view {
	width: 100%;
	height: 100%;
	overflow: auto
}

.ele_empty_board {
	width: 100%;
	height: auto;
	padding-left: 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.ele_full_board {
	width: 100%;
	height: 100%;
	padding-left: 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.ele_merge_board {
	width: 100%;
	height: auto
}

.ele_merge_left_board {
	width: 30%;
	height: auto;
	float: left;
	padding-left: 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.ele_merge_center_board {
	width: 40%;
	height: auto;
	float: left;
	padding-left: 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.ele_merge_right_board {
	width: 30%;
	height: auto;
	float: left;
	padding-left: 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.ele_h_line_board {
	width: 100%;
	height: auto
}

.ele_h_line_content_board {
	width: auto;
	height: auto;
	float: left;
	padding-left: 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.ele_permission_view {
	width: 100%;
	height: auto;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 16px 16px 16px
}

.ele_permission_item {
	width: 100%;
	height: auto;
	padding-top: 16px
}

.ele_permission_root {
	width: 100%;
	height: 32px;
	line-height: 32px;
	color: #fff;
	font-size: 12px;
	background-color: #333;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 16px
}

.ele_permission_children {
	width: 100%;
	background-color: #444;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 16px
}

.ele_file_view{
	width: 100%;
	height: 100%;
	position: relative;
}
.ele_file_group_view{
	width: 272px;
	height: 100%;
	position: absolute;
	z-index: 1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 48px 0px 48px 0px;
}
.ele_file_content_view{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0px 0px 0px 240px;
}
.ele_file_group{
	width: 240px;
	height: 100%;
	overflow: auto;
	background-color: #303030;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ele_file_content{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #4C4C4C;
}
.ele_file_content_bar{
	width: 100%;
	height: 48px;
	position: absolute;
	z-index: 10;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #303030;
	border-left: 1px #3C3C3C solid;
	border-bottom: 1px #555 solid;
}
.ele_file_content_bar_edge{
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 11px 16px;
}
.ele_file_content_bar_center{
	width: 100%;
	height: 48px;
	line-height: 48px;
	vertical-align: middle;
	color: #EDEDED;
	font-size: 13px;
	text-align: center;
}
.ele_file_content_body{
	width: 100%;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-top: 48px;
	overflow-y: overlay;
}
.ele_file_list_view{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0px 16px 16px 0px;
}
.ele_file_item_view{
	width: 256px;
	height: 322px;
	padding: 16px 0 0 16px;
	float: left;
}
.ele_file_item{
	width: 256px;
	height: 322px;
	background-color: #5c5c5c;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 8px;
	cursor: pointer;
	position: relative;
}
.ele_file_item_img{
	width: 240px;
	height: 240px;
}
.ele_file_item_text{
	width: 240px;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	color: #F5F5F5;
	border-top: 1px #555 solid;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow : hidden;
	text-overflow: ellipsis;
}
.ele_file_item_text_info{
	color: #F1F1F1;
}
.ele_file_item_delete_view{
	width: 22px;
	height: 22px;
	position: absolute;
	z-index: 1;
	background-color: #FF61BB;
	overflow: hidden;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	cursor: pointer;
	right: 12px;
	top: 12px;
}
.ele_file_item_edit_view{
	width: 22px;
	height: 22px;
	position: absolute;
	z-index: 1;
	background-color: #009999;
	overflow: hidden;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	cursor: pointer;
	right: 42px;
	top: 12px;
}
.ele_file_item_icon{
	width: 16px;
	height: 16px;
	margin: 3px;
}
.ele_file_empty{
	width: 100%;
	text-align: center;
	u-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ele_file_empty_image{
	width: 144px;
	height: 144px;
}
.ele_file_title{
	width: 240px;
	height: 48px;
	line-height: 48px;
	color: #F3F3F3;
	background-color: #2B2A2A;
	position: absolute;
	z-index: 2;
	font-size: 14px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-bottom: 1px #3C3C3C solid;
}
.ele_file_add{
	width: 240px;
	height: 48px;
	line-height: 48px;
	background-color: #2B2A2A;
	position: absolute;
	z-index: 2;
	bottom: 0px;
	left: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-top: 1px #3C3C3C solid;
}

.ele_file_group_item{
	width: 240px;
	height: 32px;
	line-height: 32px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0px 16px;
	font-size: 12px;
	color: #E1E1E1;
	text-align: left;
	cursor: pointer;
	border-bottom: 1px #3C3C3C solid;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow : hidden;
	text-overflow: ellipsis;
}
.ele_file_group_single{
	background-color: #333333;
}
.ele_file_group_double{
	background-color: #303030;
}
.ele_file_group_selected{
	color: #009999;
}
.ele_file_editgroup_style{
	width: 160px;
	height: 26px;
	padding: 0px;
	margin: 0px;
	background-color: #E1E1E1;
	color: #009999;
	border: 1px #DDDDDD solid;
	text-indent: 5px;
	outline: none;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height:  26px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
}
.ele_file_editgroup_style:focus{
	background-color: #E6FFFE;
	border: 1px #009999 solid;
	box-shadow: 0px 0px 4px #83fffc;
	-webkit-box-shadow: 0px 0px 4px #83fffc;
	-moz-window-shadow: 0px 0px 4px #83fffc;
}
.ele_file_editfile_view{
	width: 240px;
	height: 240px;
	padding-left: 120px;
	padding-bottom: 24px;
}
.ele_file_editfile_image{
	width: 240px;
	height: 240px;
}

.ele_file_form{
	width: 100%;
	padding-top: 32px;
}
.ele_file_form_button_panel{
	width: 100%;
	height: 42px;
	padding-top: 16px;
}

.ele_form_item_view {
	width: auto;
	height: 34px
}

.ele_form_item_text {
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	color: #ededed
}

.ele_form_item_tip {
	width: 224px;
	height: 34px;
	display: none
}

.ele_form_item_tip_icon {
	width: 16px;
	height: 16px;
	margin-top: 10px
}

.ele_form_item_tip_text {
	width: 200px;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	color: #ff0086;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis
}

.ele_form_radio {
	width: 452px;
	height: 29px;
	padding-top: 5px
}

.ele_form_checkbox {
	width: 202px;
	height: 29px;
	padding-top: 5px
}

.ele_form_file {
	width: 202px;
	height: 64px;
	position: relative
}

.ele_form_file_value {
	width: 132px;
	padding-right: 6px;
	height: 64px;
	line-height: 64px;
	font-size: 12px;
	color: #ccc;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis
}

.ele_form_file_view {
	width: 64px;
	height: 64px
}

.ele_form_file_delete_view {
	width: 22px;
	height: 22px;
	position: absolute;
	z-index: 1;
	background-color: #ccc;
	overflow: hidden;
	margin-left: -22px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	cursor: pointer;
	display: none
}

.ele_form_file_delete_icon {
	width: 16px;
	height: 16px;
	margin: 3px
}

.ele_form_file_icon {
	width: 64px;
	height: 64px;
	cursor: pointer
}

.ele_form_file_text {
	width: 64px;
	height: 64px;
	line-height: 64px;
	cursor: pointer;
	background-color: #ededed;
	font-size: 24px;
	color: #ccc;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis
}

.ele_form_hidden_view {
	display: none
}

.ele_form_view {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 16px
}

.ele_form_view_divider_panel {
	width: 100%;
	height: 1px;
	padding: 8px 0
}

.ele_form_view_divider {
	width: 100%;
	height: 1px;
	background-color: #333
}

.ele_grid_view {
	width: 100%;
	height: 100%;
	position: relative
}

.ele_grid_view_content {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.ele_grid_tool_bar {
	width: 100%;
	height: 48px;
	background: #2b2a2a;
	position: absolute;
	z-index: 1;
	border-bottom: 1px #494949 solid;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.ele_grid_tool_divider {
	width: 1px;
	height: 20px;
	margin-top: 14px;
	background-color: #666
}

.ele_grid_menu_view {
	height: 48px;
	line-height: 48px
}

.ele_grid_filter_view {
	height: 48px;
	line-height: 48px
}

.ele_grid_page_bar {
	position: absolute;
	width: 100%;
	height: 48px;
	background: #2b2a2a;
	z-index: 1;
	bottom: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 32px
}

.ele_grid_set_view {
	position: absolute;
	width: 290px;
	z-index: 1;
	height: auto;
	padding-top: 4px;
	background-color: #303030;
	border: 1px #444 solid;
	box-shadow: 0 0 4px #999;
	-webkit-box-shadow: 0 0 4px #999;
	-moz-window-shadow: 0 0 4px #999;
	padding: 0 16px;
	margin-top: 48px;
	margin-left: 2px;
	display: none
}

.ele_grid_set_view_wt {
	position: absolute;
	width: 290px;
	z-index: 1;
	height: auto;
	padding-top: 4px;
	background-color: #303030;
	border: 1px #444 solid;
	box-shadow: 0 0 4px #999;
	-webkit-box-shadow: 0 0 4px #999;
	-moz-window-shadow: 0 0 4px #999;
	padding: 0 16px;
	margin-left: 2px
}

.ele_grid_set_view_title_item {
	width: 290px;
	height: 32px;
	line-height: 32px;
	color: #fff;
	font-size: 13px
}

.ele_grid_set_view_title_icon {
	width: 16px;
	height: 16px;
	margin-top: 8px
}

.ele_grid_set_view_item {
	width: 282px;
	height: 32px;
	line-height: 32px;
	color: #f7f7f7;
	font-size: 12px;
	padding-left: 8px;
	cursor: pointer;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease
}

.ele_grid_set_view_item:hover {
	color: #099
}

.ele_grid_set_view_item_divider {
	width: 290px;
	height: 1px;
	background-color: #444
}

.ele_grid_set_row_height_style {
	width: 60px;
	height: 20px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	color: #099;
	border: 1px #c4c4c4 solid;
	text-indent: 5px;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px
}

.ele_grid_set_row_height_style:focus {
	border: 1px #099 solid;
	box-shadow: 0 0 4px #83fffc;
	-webkit-box-shadow: 0 0 4px #83fffc;
	-moz-window-shadow: 0 0 4px #83fffc
}

.ele_grid_set_view_bottom_item {
	width: 290px;
	height: 38px;
	line-height: 38px;
	padding-top: 8px
}

.ele_grid_set_view_bottom_hint {
	font-size: 12px;
	color: #f60
}

.ele_list_selector_view {
	width: 740px;
	height: 460px;
	margin: 0;
	padding: 16px
}

.ele_list_selector_panel {
	width: 100%;
	height: 100%;
	background-color: #303030;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 4px
}

.ele_list_selector_item_view {
	width: 320px;
	height: 100%;
	background-color: #4c4c4c;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 7px 8px 8px 8px;
	overflow: auto
}

.ele_list_selector_bar_view {
	width: 92px;
	height: 100%;
	float: left
}

.ele_list_selector_bar_panel {
	width: 100%;
	height: 72px;
	padding-top: 194px
}

.ele_list_selector_bar_divider {
	width: 100%;
	height: 16px
}

.ele_list_selector_empty {
	width: 304px;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	font-size: 12px;
	color: #c4c4c4;
	text-align: center
}

.ele_list_selector_item {
	width: 288px;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	padding-left: 16px;
	font-size: 12px;
	color: #fff;
	cursor: pointer;
	margin-top: 1px
}

.ele_list_selector_item_single {
	background-color: #666
}

.ele_list_selector_item_double {
	background-color: #606060
}

.ele_list_selector_item_select {
	background-color: #099
}

.ele_masking {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000;
	display: none;
	top: 0;
	left: 0
}

.ele_masking_bg {
	position: absolute;
	z-index: 1001;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}

.ele_masking_content {
	position: absolute;
	z-index: 1002
}

.ele_page_bar {
	width: 100%;
	height: 24px;
	padding-top: 12px
}

.ele_page_bar_item {
	width: 23px;
	height: 23px;
	line-height: 23px;
	background-color: #666;
	border: 1px #555 solid;
	font-size: 12px;
	color: #f5f5f5;
	cursor: pointer
}

.ele_page_bar_item_selected {
	background-color: #099
}

.ele_page_bar_jump_style {
	width: 60px;
	height: 22px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	color: #099;
	border: 1px #c4c4c4 solid;
	text-indent: 5px;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px
}

.ele_page_bar_jump_style:focus {
	border: 1px #099 solid;
	box-shadow: 0 0 4px #83fffc;
	-webkit-box-shadow: 0 0 4px #83fffc;
	-moz-window-shadow: 0 0 4px #83fffc
}

.ele_page_controller_view {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden
}

.ele_page_controller_panel {
	width: 100%;
	height: 100%
}

.ele_popview_bg_view {
	width: 100%;
	height: 100%;
	background-color: #c4c4c4;
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	opacity: .5;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	display: none
}

.ele_popview_view {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 101;
	top: 0;
	left: 0;
	display: none
}

.ele_popview_panel {
	width: auto;
	height: 100%
}

.ele_popview_content_view {
	width: 800px;
	height: 100%;
	background-color: #f5f5f5;
	border-left: 1px #ededed solid;
	border-right: 1px #ededed solid;
	overflow: auto;
	position: relative
}

.ele_popview_close_view {
	width: 72px;
	height: 72px;
	background-color: #999;
	cursor: pointer
}

.ele_popview_close_img {
	width: 72px;
	height: 72px
}

.ele_step_view {
	width: 100%;
	height: 64px;
	background: #ddd;
	vertical-align: middle;
	font-size: 18px
}

.ele_step_item {
	height: 64px;
	float: left;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 17px;
	font-size: 16px;
	color: #099;
	line-height: 64px;
	text-align: center;
	vertical-align: middle
}

.ele_step_yet {
	background-color: #099;
	color: #fff
}

.triangle {
	width: 34px;
	height: 64px;
	position: absolute;
	margin-left: -17px
}

.triangle-bg {
	position: absolute;
	z-index: 1;
	width: 2px;
	height: 64px;
	background-color: #fff
}

.triangle-bg2 {
	margin-left: 2px;
	position: absolute;
	z-index: 1;
	width: 32px;
	height: 64px;
	border: 32px solid transparent;
	border-top-color: transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-right: 0;
	border-bottom-color: transparent;
	border-left-color: #fff
}

.triangle-1 {
	position: absolute;
	z-index: 2;
	width: 32px;
	height: 0;
	border: 32px solid transparent;
	border-top-color: transparent;
	border-right: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom-color: transparent;
	border-left-color: #099
}

.triangle-2 {
	position: absolute;
	z-index: 2;
	width: 32px;
	height: 0;
	border: 32px solid transparent;
	border-top-color: transparent;
	border-right: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom-color: transparent;
	border-left-color: #ddd
}

.ele_switch_view {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden
}

.ele_switch_bar_panel {
	width: 100%;
	height: 32px;
	position: absolute;
	z-index: 3;
	bottom: 0
}

.ele_switch_bar {
	width: auto;
	height: 20px;
	padding: 4px 12px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: rgb(76, 76, 76, 0.5);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.ele_switch_bar_item {
	width: 12px;
	height: 12px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #ddd;
	cursor: pointer
}

.ele_switch_bar_item:hover {
	background-color: #fff
}

.ele_switch_bar_item_selected {
	background-color: #fff
}

.ele_switch_page_panel {
	width: 100%;
	height: 100%
}

.ele_menulist {
	width: 240px;
	height: 36px;
	position: relative;
	overflow: hidden
}

.ele_menulist_panel {
	width: 240px;
	padding-top: 36px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.ele_menulist_title_view {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 28px;
	padding-top: 8px;
	background-color: #2b2a2a;
	font-size: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none
}

.ele_menulist_title_txt {
	width: auto;
	height: 20px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #fff;
	vertical-align: top;
	line-height: 20px
}

.ele_menulist_content {
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto
}